<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Admin{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="icon" type="images/x-icon" href="{% static 'images/logo.png' %}" >
</head>
<body>

  {% include 'admin/sidebar.html' %}

  <div class="main-content" id="main-content">
    {% block content %}{% endblock %}
  </div>

  <script>
    function toggleSidebar() {
    const sidebar = document.getElementById('sidebar');
    const main = document.getElementById('main-content');

    if (window.innerWidth <= 768) {
        sidebar.classList.toggle('active');
        main.classList.toggle('shifted');
    } else {
        sidebar.classList.toggle('collapsed');
        main.classList.toggle('collapsed');
    }
}
</script>
</body>
</html>
